{% extends 'base/base.html.twig' %} {% block body %}
<div class="hero-scene">
    <div class="text-center text-white hero-scene-content">
        <h1 class="amatic-sc-regular" style="font-size: 4rem">
            Créer un compte
        </h1>
        <p class="amatic-sc-regular" style="font-size: 2rem">
            Inscrivez vous !
        </p>
    </div>
</div>

<!--Le formulaire-->
<div class="container p-5">
    <form method="POST" action="{{ path('app_inscription_register') }}">
        <div class="mb-3">
            <label for="pseudoInput" class="form-label">Pseudo</label>
            <input
                type="pseudo"
                class="form-control"
                id="pseudoInput"
                required
            />
        </div>

        <div class="mb-3">
            <label for="mailInput" class="form-label">E-mail</label>
            <input
                type="email"
                name="email"
                class="form-control"
                id="mailInput"
                required
            />
            <div class="invalid-feedback">L'email est incorrect !</div>
        </div>

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Mot de passe</label>
            <input
                type="password"
                name="password"
                class="form-control"
                id="passwordInput"
                required
            />
            <div class="invalid-feedback">
                Le mot de passe est incorrect, veuillez réessayer avec 8
                caractères maximum, 1 lettre minuscule, 1 lettre majuscule et 1
                caractère spécial (!%$@) par exemple.
            </div>
            <div class="valid-feedback">Le mot de passe est correct.</div>
        </div>

        <div class="mb-3">
            <label for="validationPasswordInput" class="form-label"
                >Confirmer votre mot de passe</label
            >
            <input
                type="password"
                class="form-control"
                id="validationPasswordInput"
                required
            />
            <div class="invalid-feedback">
                Les deux mot de passe ne sont pas identique !
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" id="btnValidation">
                Inscription</button
            ><br /><br />
            <a href="/connexion">
                Vous avez déja un compte ? Connectez vous.
            </a>
        </div>
    </form>
</div>
<br />
{% endblock %}
