{% extends 'base/base.html.twig' %} {% block body %}

<div class="hero-scene">
    <div class="text-center text-white hero-scene-content">
        <h1>Mon compte utilisateur</h1>
        <p>Ici gérez votre compte.</p>

        <!-- Button pour ouvrir la modale -->
  <button type="button" class="btn btn-bg_dark rounded-pill text-black"  data-bs-toggle="modal" data-bs-target="#trouverUnTrajet">
    Créez votre trajet
  </button>
    </div>

    </div>
</div>



{% endblock %}
